@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #25272C;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1b1d21;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  color: #2DAAE9;
}

.btn-outline {
  border: 2px solid #2DAAE9;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-outline:hover {
  background-color: #2DAAE9;
  color: black;
}

.btn-primary {
  background-color: #2DAAE9;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}

.btn-primary:hover {
  background-color: #3bb6f4;
  color: white;
}

.input {
  background: transparent;
  border: 1px solid #424242;
  border-radius: 5px;
  padding: 10px;
  padding-inline: 10px;
  color: white;
}

.input:hover {
  border-color: #e0e0e0e9;
}

.input:focus-visible {
  outline: none;
  border-color: #2DAAE9;
}

.card-container {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 300px;
  padding: 30px;
  border: 1px solid #424242;
  background-color: #1f2125;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.outer-container-input {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.container-input {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.container-input.error .input {
  border: 1px solid red;
}

.container-input .error {
  color: #ff3860;
  font-size: 12px;
  height: 13px;
}

.home-page-layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
}

.column-1 {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.column-2 {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

.container-categories-label {
  height: 50px;
  padding: 10px;
  padding-inline: 15px;
  background-color: #1b1d21;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.container-subcategory-label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  background-color: #1b1d21;
}

.categories-label,
.sub-category-label {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.new-posts-label {
  color: #A1A3AE;
  font-size: 0.8rem;
  font-weight: 700;
}

.category-label {
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.subcategory-label {
  font-size: 0.85rem;
  font-weight: 700;
  color: white;
}

.subcategory-content {
  font-size: 0.8rem;
  color: #A1A3AE;
}

.container-category {
  border: 1px solid #474c54;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 20px;
}

.container-subcategory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.card-subcategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 1px solid #424242;
  border-radius: 5px;
  background-color: #1f2125;
  padding: 1rem;
  text-decoration: none;
}

.card-subcategory:hover {
  background-color: #30343A;
}

.card-subcategory-icon {
  border-radius: 5px;
  padding: 20px;
  background-color: black;
}

.card-subcategory-content {
  flex-direction: column;
  display: flex;
  gap: 0.5rem;
  flex: 1;
}

.container-new-posts {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 1rem;
}

.new-post {
  display: flex;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 1rem;
}

.new-post-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.post-title {
  color: white;
  font-size: 0.85rem;
  font-weight: 700;
}

.post-created {
  color: #A1A3AE;
  font-size: 0.7rem;
}

.post-topic {
  color: #A1A3AE;
  font-size: 0.7rem;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.breadcrumb-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #2e3037;
  border: 1px solid #474c54;
  padding: 5px;
  padding-inline: 10px;
  flex-wrap: wrap;
}

.home-link {
  text-decoration: none;
}

.home-icon {
  color: #a2a3ae;
}

.home-icon:hover {
  color: #90919b;
}

.forums-link {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: normal;
  color: #a2a3ae;
}

.forums-link:hover {
  color: #90919b;
}

.post-link {
  text-decoration: none;
}

.post-header-container {
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.post-container {
  display: flex;
  width: 100%;
  min-height: 200px;
}

.post-author-container {
  display: flex;
  background-color: #393d43;
  flex-direction: column;
  padding: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  align-items: center;
  gap: 0.8rem;
  border-right: 1px solid #474c54;
  min-width: 150px;
}

.post-content-container {
  display: flex;
  flex-direction: column;
  background-color: #2e3035;
  padding: 20px;
  gap: 1rem;
  flex: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post-text-container {
  display: flex; 
  flex-direction: column; 
  min-height: 50px;
  flex: 1
}

.post-action-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.btn-post-action {
  background-color: #1B1D21;
  text-decoration: none;
  border: none;
  color: #A1A3AE;
  border-radius: 5px;
  padding: 5px 10px;
}

.post-liked {
  color: #2DAAE9;
}

.post-disliked {
  color: #FF4500;
}

.btn-post-action:hover {
  background-color: #23252a;
  color: white;
}

.post-liked:hover {
  color: #3bb6f4;
}

.post-disliked:hover {
  color: #FF6347;
}

.editor-button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: #E2E2E3;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.editor-button-active {
  background: rgba(255,255,255,0.15);
}

.editor-button:hover {
  background: rgba(255, 255, 255, 0.15);
}

.post-editor-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #2e3035;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 20px;
  flex: 1;
}

.editor {
  display: flex;
  flex-direction: column;
  background-color: #393d43;
  border-radius: 5px;
  border: 1px solid #474c54;
  gap: 1rem;
  padding: 20px;
  height: 150px;
}

.editor-textarea {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  min-height: 100px;
  font-size: 0.8rem;
  font-family: 'Noto Sans', sans-serif;
}

.editor-textarea:focus-visible {
  outline: none;
}


.placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #aaa;
  font-size: 0.8rem;
  font-family: 'Noto Sans', sans-serif;
  pointer-events: none;
}

.editor-wrapper {
  position: relative;
  z-index: 10;
}

.editor-textarea:focus + .placeholder,
.editor-textarea:not(:empty) + .placeholder {
  display: none;
}

.link-editor {
  position: relative;
}

.link-dialog {
  position: absolute;
  z-index: 1000;
  top: 30px;
  background-color: #2E3035;
  border: none;
  border-radius: 5px;
}

.link-dialog-closing {
  animation: scaleDown 200ms ease forwards;
}

.editor-link {
  color: #2DAAE9;
  text-decoration: none;
  font-size: 0.8rem;
}

.uploaded-images-container {
  display: none;
  gap: 1rem;
  flex-wrap: wrap;
}

.uploaded-image {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #474c54;
}

.file-name-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: white;
  font-size: 0.8rem;
  background-color: #1D1E21;
}

.comment-reactions {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #393D43;
  border-left: 3px solid #2DAAE9;
  padding: 10px;
}

.dislike {
  border-left: 3px solid #FF4500;
}

#post-title-input {
  /* Ensure the input itself has the correct height and padding */
  height: 3rem; /* Adjust as needed */
  padding: 0.75rem; /* Adjust as needed */
  line-height: 1.5rem; /* Match the font-size of the placeholder */
  box-sizing: border-box; /* Include padding in the height calculation */
  font-size: 1.5rem; /* Ensure the font-size matches the placeholder */
}

#post-title-input::placeholder {
  font-size: 1.5rem;
  line-height: 1.5rem; /* Match the font-size */
}

@media (max-width: 768px) {
  .home-page-layout {
    display: flex;
    flex-direction: column;
  }

  .container-subcategory {
    grid-template-columns: 1fr;
  }

  .post-container {
    flex-direction: column;
  }

  .post-author-container {
    border: none;
    flex-direction: row;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom: 1px solid #474c54;
  }

  .post-content-container {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}