{{template "header" }}

<div class="home-page-layout">
  <div class="column-1">
    <div class="container-categories-label">
      <span class="categories-label">Categories</span>
    </div>

    <div class="container-category">
      <span class="category-label">General Discussion</span>

      <div class="container-subcategory">
        <div class="card-subcategory">
          <div class="card-subcategory-icon">
            <i class="fas fa-comments fa-xl" style="color: #a1a3ae"></i>
          </div>

          <div class="card-subcategory-content">
            <span class="subcategory-label">Off-Topic</span>
            <span class="subcategory-content"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Explicabo, in animi!</span
            >
          </div>
        </div>

        <div class="card-subcategory">
          <div class="card-subcategory-icon">
            <i class="fas fa-comments fa-xl" style="color: #a1a3ae"></i>
          </div>

          <div class="card-subcategory-content">
            <span class="subcategory-label">Off-Topic</span>
            <span class="subcategory-content"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Explicabo, in animi!</span
            >
          </div>
        </div>

        <div class="card-subcategory">
          <div class="card-subcategory-icon">
            <i class="fas fa-comments fa-xl" style="color: #a1a3ae"></i>
          </div>

          <div class="card-subcategory-content">
            <span class="subcategory-label">Off-Topic</span>
            <span class="subcategory-content"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Explicabo, in animi!</span
            >
          </div>
        </div>

        <div class="card-subcategory">
          <div class="card-subcategory-icon">
            <i class="fas fa-comments fa-xl" style="color: #a1a3ae"></i>
          </div>

          <div class="card-subcategory-content">
            <span class="subcategory-label">Off-Topic</span>
            <span class="subcategory-content"
              >Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Explicabo, in animi!</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <span style="color: white">New Posts</span>
  </div>
</div>

{{template "footer" }}
