{{template "header" }}

<div class="home-page-layout">
  <div class="column-1">
    <div class="container-categories-label">
      <span class="categories-label">Categories</span>
    </div>

    {{range .Categories}}
    <div class="container-category">
      <span class="category-label">{{.Name}}</span>

      <div class="container-subcategory">
        {{range .Subcategories}}
        <a href="/subcategory/{{.ID}}" class="card-subcategory">
          <div class="card-subcategory-icon">
            <i class="fas fa-comments fa-xl" style="color: #a1a3ae"></i>
          </div>

          <div class="card-subcategory-content">
            <span class="subcategory-label">{{.Name}}</span>
            <span class="subcategory-content">{{.Description}}</span>
          </div>
        </a>
        {{end}}
      </div>
    </div>
    {{end}}
  </div>

  <div class="column-2">
    <div class="container-new-posts">
      <span class="new-posts-label">NEW POSTS</span>

      <div style="flex: 1; border: 0.5px solid #474c54"></div>
    </div>

    <div class="new-post">
      <img
        src="https://via.placeholder.com/150"
        alt=""
        style="border-radius: 5px"
        width="50"
        height="50"
      />

      <div class="new-post-content">
        <span class="post-title">Best electric cars in 2023?</span>
        <span class="post-created">Latest: NOSS8 - 23 minutes ago</span>
        <span class="post-topic">General</span>
      </div>
    </div>

    <div class="new-post">
      <img
        src="https://via.placeholder.com/150"
        alt=""
        style="border-radius: 5px"
        width="50"
        height="50"
      />

      <div class="new-post-content">
        <span class="post-title"
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
          vitae, voluptas.
        </span>
        <span class="post-created">Latest: NOSS8 - 23 minutes ago</span>
        <span class="post-topic">Off-Topic</span>
      </div>
    </div>
  </div>
</div>

{{template "footer" }}
