{{template "header" }}

<div class="home-page-layout">
  <div class="column-1">
    <div class="container-categories-label">
      <span class="categories-label">Categories</span>
    </div>

    {{range .Categories}}
    <div class="container-category">
      <span class="category-label">{{.Name}}</span>

      <div class="container-subcategory">
        {{range .Subcategories}}
        <a href="/subcategory/{{.ID}}" class="card-subcategory">
          <div class="card-subcategory-icon">
            <i class="fas fa-comments fa-xl" style="color: #a1a3ae"></i>
          </div>

          <div class="card-subcategory-content">
            <span class="subcategory-label">{{.Name}}</span>
            <span class="subcategory-content">{{.Description}}</span>
          </div>
        </a>
        {{end}}
      </div>
    </div>
    {{end}}
  </div>

  <div class="column-2">
    <div class="container-new-posts">
      <span class="new-posts-label">NEW POSTS</span>

      <div style="flex: 1; border: 0.5px solid #474c54"></div>
    </div>

    {{range .NewPosts}}

    <div class="new-post">
      <img
        src="{{.Author.ProfilePicture}}"
        alt=""
        style="border-radius: 5px; min-width: 50px"
        width="50"
        height="50"
      />

      <div class="new-post-content">
        <span class="post-title">
          <a href="/post/{{.ID}}" class="post-link">{{.Title}}</a>
        </span>
        <span class="post-created">
          Latest: {{.Author.Username}} -
          <span class="time">{{.CreatedAt}}</span>
        </span>
        <span class="post-topic">
          <a href="/subcategory/{{.Subcategory.ID}}" class="post-category-link">
            {{.Subcategory.Name}}
          </a>
        </span>
      </div>
    </div>

    {{end}}
  </div>
</div>

{{template "footer" }}
