{{template "header" .}}

<div class="card-container" style="height: 80vh">
  <div class="card">
    <h1 style="margin: 0; color: white">Log In</h1>
    <div class="login-error {{if not .Obj.Message}}hidden{{end}}">
      {{if .Obj.Message}} {{.Obj.Message}} {{end}}
    </div>
    <form id="login-form" action="/login" method="post">
      <div class="outer-container-input">
        <div class="container-input">
          <label for="login-username" style="color: white">Username</label>
          <input
            type="text"
            id="login-username"
            name="username"
            placeholder="Username"
            maxlength="20"
            class="input"
          />
        </div>

        <div class="container-input">
          <label for="login-password" style="color: white">Password</label>
          <input
            type="password"
            id="login-password"
            name="password"
            placeholder="Password"
            maxlength="128"
            class="input"
          />
        </div>

        <button
          type="submit"
          class="btn-primary"
          style="font-size: medium; padding: 10px 15px; cursor: pointer"
        >
          Log In
        </button>
      </div>
    </form>
  </div>
</div>

<script src="/static/scripts/validationLogin.js" defer></script>
<script>
  const main = document.querySelector("main");
  main.style.minHeight = "100vh";
</script>

{{template "footer" .}}
