{{template "header" }}

<div class="card-container">
  <div class="card">
    <h1 style="margin: 0; color: white">Log In</h1>

    <form action="/login" method="post">
      <div class="outer-container-input">
        <div class="container-input">
          <label for="username" style="color: white">Username</label>
          <input
            type="text"
            name="username"
            placeholder="Username"
            class="input"
          />
        </div>

        <div class="container-input">
          <label for="username" style="color: white">Password</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="input"
          />
        </div>

        <button
          type="submit"
          class="btn-primary"
          style="font-size: medium; padding: 10px 15px; cursor: pointer"
        >
          Log In
        </button>
      </div>
    </form>
  </div>
</div>

{{template "footer" }}
