{{template "header"}}

<div class="card-container" style="top: 55%">
  <div class="card">
    <h1 style="margin: 0; color: white">Register</h1>
    <form id="form" action="/register" method="POST">
      <div class="outer-container-input">
        <div class="container-input">
          <label for="name" style="color: white">Name</label>
          <input type="text"
            id="name"
            name="name"
            class="input"
            placeholder="Full Name"
            maxlength="50"
            oninput="validateName(this.value.trim())" />
          <div class="error"></div>
        </div>

        <div class="container-input">
          <label for="username" style="color: white">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="input"
            placeholder="Username"
            maxlength="15"
            oninput="validateUsername(this.value.trim())" />
          <div class="error"></div>
        </div>

        <div class="container-input">
          <label for="email" style="color: white">Email</label>
          <input type="text"
            id="email"
            name="email"
            class="input"
            placeholder="Email"
            maxlength="254"
            oninput="validateEmail(this.value.trim())" />
          <div class="error"></div>
        </div>

        <div class="container-input">
          <label for="password" style="color: white">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="input"
            placeholder="Password"
            maxlength="64"
            oninput="validatePassword(this.value.trim())" />
          <div class="error"></div>
        </div>

        <input
          type="submit"
          value="Register"
          class="btn-primary"
          style="font-size: medium; padding: 10px 15px; cursor: pointer" />
      </div>
    </form>
  </div>
</div>

<script src="/static/validation.js" defer></script>

{{template "footer" }}
