{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div style="display: flex; align-items: center; gap: 3rem">
        <div style="display: flex; align-items: center; gap: 1rem">
          <!-- <i
            class="fa-solid fa-bars"
            style="color: white; font-size: 1.5rem"
          ></i> -->

          <!-- For forum sidebar -->

          <span style="font-weight: bold; color: white">Car Forum</span>
        </div>

        <div class="nav-links" style="gap: 1.5rem">
          <a href="/">Home</a>
          <a href="/">Categories</a>
        </div>
      </div>

      <div class="nav-links">
        <a href="/logout" id="logout">Log Out</a>
        <a href="/login" id="login">Log In</a>
        <a
          href="/register"
          id="register"
          class="btn-outline"
          style="color: white; font-weight: bold"
        >
          Register
        </a>
      </div>
    </nav>

    <main style="padding: 20px">
      {{end}}

      <!-- footer -->
      {{define "footer"}}
    </main>
  </body>
  <script>
    const cookie = document.cookie.includes("sessionId");
    document.getElementById("logout").style.display = cookie ? "block" : "none";
    document.getElementById("login").style.display = cookie ? "none" : "block";
    document.getElementById("register").style.display = cookie
      ? "none"
      : "block";

    const formatDate = document.querySelectorAll(".date");
    formatDate.forEach((date) => {
      date.textContent = new Date(date.textContent).toLocaleDateString(
        "en-US",
        {
          year: "numeric",
          month: "short",
          day: "numeric",
        }
      );
    });

    // wysiwyg editor related code

    function formatText(command) {
      document.execCommand(command, false, null);
    }

    const editorButtons = document.querySelectorAll(".editor-button");

    editorButtons.forEach((button) => {
      button.addEventListener("click", () => {
        const command = button.id;
        formatText(command);
        button.classList.toggle("editor-button-active");
      });
    });

    const editor = document.querySelector(".editor-textarea");

    const editorContainer = document.querySelector(".editor");

    editor.addEventListener("focus", () => {
      editorContainer.style.border = "1px solid #2daae9";
    });

    editor.addEventListener("blur", () => {
      editorContainer.style.border = "1px solid #474c54";
    });

    document.addEventListener("DOMContentLoaded", function () {
      const content = document.getElementById("content");
      const placeholder = document.getElementById("placeholder");

      content.addEventListener("input", function () {
        if (content.textContent.trim() !== "") {
          placeholder.style.display = "none";
        } else {
          placeholder.style.display = "block";
        }
      });

      content.addEventListener("focus", function () {
        if (content.textContent.trim() === "") {
          placeholder.style.display = "none";
        }
      });

      content.addEventListener("blur", function () {
        if (content.textContent.trim() === "") {
          placeholder.style.display = "block";
        }
      });
    });

    const linkButton = document.getElementById("link");

    linkButton.addEventListener("click", (e) => {
      const linkDialog = document.getElementById("link-dialog");

      // if editor is focused, close the dialog
      editor.addEventListener("focus", () => {
        linkDialog.classList.add("link-dialog-closing");
        linkButton.classList.remove("editor-button-active");
        setTimeout(() => {
          linkDialog.close();
          linkDialog.classList.remove("link-dialog-closing");
        }, 200);
      });

      if (linkDialog.open) {
        // add the closing class to animate the dialog
        linkDialog.classList.add("link-dialog-closing");

        // close the dialog after the animation completes
        setTimeout(() => {
          linkDialog.close();
          linkDialog.classList.remove("link-dialog-closing");
        }, 200);
      } else {
        linkDialog.show();

        // animate the dialog
        linkDialog.animate(
          [
            {
              transform: "scale(0)",
            },
            {
              transform: "scale(1)",
            },
          ],
          {
            duration: 200,
            easing: "ease",
          }
        );
      }
    });
  </script>
</html>
{{end}}
