{{define "header"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav style="display: flex; justify-content: space-between; padding: 20px">
      <span style="font-weight: bold">Forum</span>

      <div style="display: flex; gap: 0.5rem">
        <a href="/">home</a>
        <a href="/register">register</a>
        <a href="/logout" id="logout">logout</a>
        <a href="/login" id="login">login</a>
      </div>
    </nav>

    <main style="padding: 20px">
      {{end}}

      <!-- footer -->
      {{define "footer"}}
    </main>
  </body>
  <script>
    const cookie = document.cookie.includes("sessionId");
    document.getElementById("logout").style.display = cookie ? "block" : "none";
    document.getElementById("login").style.display = cookie ? "none" : "block";
  </script>
</html>
{{end}}
