{{template "header" }}

<div style="display: flex; flex-direction: column; gap: 1.5rem">
  <div class="container-subcategory-label">
    <span class="sub-category-label">General</span>
    <span class="subcategory-content"
      >General discussion about electric cars</span
    >
  </div>

  <div class="breadcrumb-container">
    <a href="/" class="home-link">
      <i class="fa-solid fa-house fa-xs home-icon"></i>
    </a>

    <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a2a3ae"></i>

    <a href="/" class="forums-link">Forums</a>

    <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a2a3ae"></i>

    <span class="subcategory-label">General Discussion</span>

    <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a2a3ae"></i>

    <span class="subcategory-label">General</span>
  </div>
</div>

{{template "footer" }}
