{{template "header" }}

<div style="display: flex; flex-direction: column; gap: 1.5rem">
  <div class="container-subcategory-label" style="border-radius: 5px">
    <span class="sub-category-label">General</span>
    <span class="subcategory-content"
      >General discussion about electric cars</span
    >
  </div>

  <div class="breadcrumb-container">
    <a href="/" class="home-link">
      <i class="fa-solid fa-house fa-xs home-icon"></i>
    </a>

    <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a2a3ae"></i>

    <a href="/" class="forums-link">Forums</a>

    <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a2a3ae"></i>

    <span class="subcategory-label">General Discussion</span>

    <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a2a3ae"></i>

    <span class="subcategory-label">General</span>
  </div>

  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      background-color: #2e3037;
    "
  >
    <div
      style="
        padding: 20px;
        background-color: #2e3037;
        border-bottom: 1px solid #474c54;
      "
    ></div>

    <div
      style="padding: 10px; display: flex; gap: 1rem; flex-direction: column"
    >
      <div
        style="
          padding: 10px 20px;
          background-color: #1b1d21;
          border-bottom: 1px solid #474c54;
        "
      >
        <span style="color: #a2a3ae; font-size: 0.85rem; font-weight: bold"
          >ALL POSTS</span
        >
      </div>

      <div class="new-post" style="padding-inline: 10px">
        <img
          src="https://via.placeholder.com/150"
          alt=""
          style="border-radius: 5px"
          width="50"
          height="50"
        />

        <div class="new-post-content">
          <span style="color: white; font-size: 0.8rem">
            [Discussion] What's your next smartphone / What should I buy
          </span>

          <span style="color: #a2a3ae; font-size: 0.8rem">poseidon5213</span>

          <span style="color: #a2a3ae; font-size: 0.8rem">Apr 26 2012</span>
        </div>
      </div>

      <div style="flex: 1; border: 0.5px solid #474c54"></div>
    </div>
  </div>

  {{template "footer" }}
</div>
