{{template "header" }}

<div style="display: flex; flex-direction: column; gap: 1.5rem">
  <div class="container-subcategory-label post-header-container">
    <div style="display: flex; flex-direction: column; gap: 1rem">
      <span class="sub-category-label">{{.Post.Title}}</span>

      <div style="display: flex; gap: 1rem">
        <span class="subcategory-content">
          <i class="fa-regular fa-user" style="margin-right: 5px"></i>
          {{.Post.Author.Username}}
        </span>

        <span class="subcategory-content">
          <i class="fa-regular fa-clock" style="margin-right: 5px"></i>
          <span class="date">{{.Post.CreatedAt}}</span>
        </span>
      </div>
    </div>

    {{if .IsAuthenticated}}
    <button
      type="submit"
      class="btn-primary reply"
      style="font-size: medium; padding: 10px 15px; cursor: pointer"
    >
      Reply
    </button>
    {{end}}
  </div>

  <div class="breadcrumb-container">
    <a href="/" class="home-link">
      <i class="fa-solid fa-house fa-xs home-icon"></i>
    </a>

    <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a2a3ae"></i>

    <a href="/" class="forums-link">Forums</a>

    <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a2a3ae"></i>

    <a
      href="/category/{{.Category.ID}}"
      class="subcategory-label"
      style="text-decoration: none"
    >
      <span class="subcategory-label">{{.Category.Name}}</span>
    </a>

    <i class="fa-solid fa-chevron-right fa-2xs" style="color: #a2a3ae"></i>

    <span class="subcategory-label">{{.Post.Title}}</span>
  </div>

  <div class="post-container">
    <div class="post-author-container">
      <img
        src="{{.Post.Author.ProfilePicture}}"
        alt=""
        style="border-radius: 5px"
        width="50"
        height="50"
      />

      <span style="color: #2daae9; font-weight: 700; font-size: 0.8rem"
        >{{.Post.Author.Username}}</span
      >
    </div>

    <div class="post-content-container">
      <div style="display: flex; flex-direction: column; gap: 1rem">
        <span class="date" style="color: #a1a3ae; font-size: 0.8rem"
          >{{.Post.CreatedAt}}</span
        >

        <div style="flex: 1; border: 0.5px solid #474c54"></div>
      </div>

      <div class="post-text-container">
        <span style="color: white; font-size: 0.8rem">{{.Post.Content}}</span>
      </div>

      {{if .IsAuthenticated}}
      <div class="post-action-container">
        <button
          type="submit"
          class="btn-post-action {{if .IsPostLikedByCurrentUser}}post-liked{{end}}"
          id="{{if .IsPostLikedByCurrentUser}}post-remove-like{{else}}post-like{{end}}"
          style="cursor: pointer"
        >
          <i
            class="{{if .IsPostLikedByCurrentUser}}fa-solid{{else}}fa-regular{{end}} fa-thumbs-up"
            style="margin-right: 5px"
          ></i>
          {{if .IsPostLikedByCurrentUser}}Liked{{else}}Like{{end}}
        </button>

        <button
          type="submit"
          class="btn-post-action {{if .IsPostDislikedByCurrentUser}}post-disliked{{end}}"
          id="{{if .IsPostDislikedByCurrentUser}}post-remove-dislike{{else}}post-dislike{{end}}"
          style="cursor: pointer"
        >
          <i
            class="{{if .IsPostDislikedByCurrentUser}}fa-solid{{else}}fa-regular{{end}} fa-thumbs-down"
            style="margin-right: 5px"
          ></i>
          {{if .IsPostDislikedByCurrentUser}}Disliked{{else}}Dislike{{end}}
        </button>

        <button
          type="submit"
          class="btn-post-action reply"
          style="cursor: pointer"
        >
          <i class="fa-solid fa-reply" style="margin-right: 5px"></i>
          Reply
        </button>
      </div>
      {{end}}

      <input type="hidden" value="{{.Post.ID}}" id="post-id" />

      <input
        type="hidden"
        value="{{.Post.Attachments}}"
        id="post-attachments-{{.Post.ID}}"
      />

      {{if .Likes}}
      <div class="comment-reactions">
        <i class="fa-solid fa-thumbs-up" style="color: white"></i>

        {{range .Likes}}

        <span style="color: #2daae9; font-size: 0.8rem">
          {{.Author.Username}}
        </span>

        {{end}}
      </div>
      {{end}} {{if .Dislikes}}
      <div class="comment-reactions dislike">
        <i class="fa-solid fa-thumbs-down" style="color: white"></i>

        {{range .Dislikes}}

        <span style="color: #2daae9; font-size: 0.8rem">
          {{.Author.Username}}
        </span>

        {{end}}
      </div>
      {{end}}

      <div
        class="uploaded-images-container"
        id="post-images-{{.Post.ID}}"
      ></div>
    </div>
  </div>

  {{range .Comments}}

  <div class="post-container" id="comment-{{.ID}}">
    <div class="post-author-container">
      <img
        src="{{.Author.ProfilePicture}}"
        alt=""
        style="border-radius: 5px"
        width="50"
        height="50"
      />

      <span style="color: #2daae9; font-weight: 700; font-size: 0.8rem"
        >{{.Author.Username}}</span
      >
    </div>

    <div class="post-content-container">
      <div style="display: flex; flex-direction: column; gap: 1rem">
        <span class="date" style="color: #a1a3ae; font-size: 0.8rem"
          >{{.CreatedAt}}</span
        >

        <div style="flex: 1; border: 0.5px solid #474c54"></div>
      </div>

      <div class="post-text-container">
        <span style="color: white; font-size: 0.8rem">{{.Content}}</span>
      </div>

      {{if $.IsAuthenticated}}
      <div class="post-action-container" id="{{.ID}}">
        <button
          type="submit"
          class="btn-post-action like-comment"
          style="cursor: pointer"
        >
          <i class="fa-regular fa-thumbs-up" style="margin-right: 5px"></i>
          Like
        </button>

        <button
          type="submit"
          class="btn-post-action dislike-comment"
          style="cursor: pointer"
        >
          <i class="fa-regular fa-thumbs-down" style="margin-right: 5px"></i>
          Dislike
        </button>

        <button
          type="submit"
          class="btn-post-action reply"
          style="cursor: pointer"
        >
          <i class="fa-solid fa-reply" style="margin-right: 5px"></i>
          Reply
        </button>
      </div>
      {{end}}

      <input
        type="hidden"
        value="{{.Attachments}}"
        class="comment-attachments"
      />

      {{if .Likes}}
      <div class="comment-reactions">
        <i class="fa-solid fa-thumbs-up" style="color: white"></i>

        <!-- Check if the comment is liked by the current user, to be used for updating styling in buttons -->

        {{range .Likes}} {{if $.IsAuthenticated}} {{if eq .Author.ID $.User.ID}}
        <input
          type="hidden"
          data-comment-id="{{.CommentID}}"
          value="true"
          class="comment-liked-by-user"
        />
        {{else}}
        <input type="hidden" value="false" class="comment-liked-by-user" />
        {{end}} {{end}}

        <span style="color: #2daae9; font-size: 0.8rem">
          {{.Author.Username}}
        </span>

        {{end}}
      </div>
      {{end}} {{if .Dislikes}}
      <div class="comment-reactions dislike">
        <i class="fa-solid fa-thumbs-down" style="color: white"></i>

        {{range .Dislikes}} {{if $.IsAuthenticated}} {{if eq .Author.ID
        $.User.ID}}
        <input
          type="hidden"
          data-comment-id="{{.CommentID}}"
          value="true"
          class="comment-disliked-by-user"
        />
        {{else}}
        <input type="hidden" value="false" class="comment-disliked-by-user" />
        {{end}} {{end}}

        <span style="color: #2daae9; font-size: 0.8rem">
          {{.Author.Username}}
        </span>

        {{end}}
      </div>
      {{end}}

      <div class="uploaded-images-container comment-images"></div>
    </div>
  </div>

  {{end}}

  <div style="flex: 1; border: 0.5px solid #474c54"></div>

  {{if .IsAuthenticated}}
  <div class="post-container">
    <div class="post-author-container">
      <img
        src="{{.User.ProfilePicture}}"
        alt=""
        style="border-radius: 5px"
        width="50"
        height="50"
      />

      <input type="hidden" id="postId" value="{{.Post.ID}}" />
      <input type="hidden" id="userId" value="{{.User.ID}}" />

      <span style="color: #2daae9; font-weight: 700; font-size: 0.8rem"
        >{{.User.Username}}</span
      >
    </div>

    <div class="post-editor-container">
      <div class="editor">
        <div style="display: flex; gap: 0.5rem">
          <button class="editor-button" id="bold">
            <i class="fa-solid fa-bold"></i>
          </button>

          <button class="editor-button" id="italic">
            <i class="fa-solid fa-italic"></i>
          </button>

          <button class="editor-button" id="underline">
            <i class="fa-solid fa-underline"></i>
          </button>

          <button class="editor-button" id="strikethrough">
            <i class="fa-solid fa-strikethrough"></i>
          </button>

          <!-- <div class="link-editor">
            <dialog id="link-dialog" class="link-dialog">
              <div class="outer-container-input" style="gap: 1rem">
                <div class="container-input">
                  <label for="username" style="color: white; font-size: small"
                    >URL</label
                  >
                  <input
                    type="url"
                    name="username"
                    id="url"
                    placeholder="URL"
                    class="input"
                  />
                </div>

                <div class="container-input">
                  <label for="username" style="color: white; font-size: small"
                    >Text</label
                  >
                  <input
                    type="text"
                    id="text"
                    name="text"
                    placeholder="Text"
                    class="input"
                  />
                </div>

                <div>
                  <button
                    type="button"
                    id="insert-link"
                    class="btn-primary"
                    style="
                      font-size: medium;
                      padding: 5px 10px;
                      cursor: pointer;
                    "
                  >
                    Insert
                  </button>
                </div>
              </div>
            </dialog>

            <button class="editor-button" id="link">
              <i class="fa-solid fa-link"></i>
            </button>
          </div> -->

          <button class="editor-button" id="image">
            <i class="fa-regular fa-image"></i>
          </button>

          <input
            type="file"
            id="image-input"
            style="display: none"
            accept="image/*"
          />
        </div>

        <div class="editor-wrapper">
          <div
            id="content"
            class="editor-textarea"
            contenteditable="true"
          ></div>
          <div id="placeholder" class="placeholder">
            Type your reply here...
          </div>
        </div>
      </div>

      <div class="uploaded-images-container" id="uploaded-images"></div>

      <div>
        <button
          type="submit"
          id="post-reply"
          class="btn-primary"
          style="font-size: medium; padding: 10px 15px; cursor: pointer"
        >
          Post Reply
        </button>
      </div>
    </div>
  </div>
  {{end}}
</div>
<script src="/static/scripts/comment-editor.js"></script>
<script src="/static/scripts/post.js"></script>
<script src="/static/scripts/comments.js"></script>

{{template "footer" }}
